.lecture {
  height: auto;

  &__name {
    text-transform: uppercase;
  }
}

.lectures {
  height: 100%;
  margin-bottom: 56px;
}

#lecture-name {
  font-family: 'Avenir', sans-serif;
  background-color: transparent;
  padding: 20px;
  margin: 0;
  text-align: left;
  width: 70%;
  color: $color-white;
  text-transform: uppercase;
}

#lecture-add {
  margin: 0;
  padding: 20px;
  border-radius: 0;
  float: right;
  width: 30%;
  cursor: pointer;
}

.lecture-form {
  background-color: $color-wrapper-background;
  position: fixed;
  width: 100%;
  bottom: $bottom-bar-height;
  //height: auto;
  padding: 0;
}

.lecture {
  @include blockdesign;
}