.lecture {
  height: auto;

  &__name {
    text-transform: uppercase;
  }
}

.lectures {
  margin-bottom: 112px;
}

#lecture-name {
  font-family: 'Avenir', sans-serif;
  background-color: transparent;
  padding: 20px;
  margin: 0;
  text-align: left;
  width: 70%;
  color: $color-white;
  text-transform: uppercase;
}

.lecture-add {
  //padding: 20px;
  border-radius: 0;
  float: right;
  text-align: center;
  padding: 4px 0;
  width: 30%;
  cursor: pointer;
}

.lecture-form {
  display: flex;
  background-color: $color-wrapper-control;
  position: fixed;
  z-index: 1;
  width: 100%;
  bottom: 56px;
  height: 56px;
  padding: 8px;
}

.lecture {
  @include blockdesign;
}