<div class="navigation-bar"><a href="/"><i class="fa fa-arrow-left"></i></a></div>

<section class="items">
    {{#each lectures}}
        <div class="task" data-id={{this._id}}>
            <div class="task__description">
                <h5 class="task__decription__title">{{this.name}}</h5>
            </div>
        </div>
    {{/each}}
</section>

<form class="lecture-form">
    <!-- "nope" really turns autocomplete off, "off" might be ignored" -->
    <input type="text" id="lecture-name" placeholder="Add a new lecture..." autocomplete="nope">

    <input type="submit" value="Add">
</form>