<div class="navigation-bar"><a href="/"><i class="fa fa-arrow-left"></i></a></div>

<section class="items lectures">
    {{#each lectures}}
        <div class="lecture" data-id={{this._id}}>
            <p class="lecture__name">{{this.name}}</p>
        </div>
    {{/each}}
</section>

<form class="lecture-form">
    <!-- "nope" really turns autocomplete off, "off" might be ignored" -->
    <input type="text" id="lecture-name" placeholder="Add a new lecture..." autocomplete="nope">

    <input type="submit" value="Add">
</form>