{{#each tasks}}
    <div class="task">
        <div class="task__description">
            <h5 class="task__decription__title">{{this.text}}</h5>
            <p class="task__decription__time">{{this.due}}</p>
        </div>
        <div class="task__workload">{{this.workload}}</div>
    </div>
{{/each}}