<div class="navigation-bar"><a href="/"><i class="fa fa-arrow-left"></i></a></div>

<form class="task-form">
    <label for="task-name">Name</label>
    <input type="text" id="task-name" value="mytaskname">
    <input type="number" id="remaining-days" min="1" max="5">

    <div class="task-lecture">

        <select>
            {{#each lectures}}
                <option>{{this.name}}</option>
            {{/each}}
        </select>
    </div>

    <input type="submit" id="form-submit" value="Save task">


</form>