<form class="task-form">
    <label for="task-name">Name</label>
    <input type="text" id="task-name" value="mytaskname">
    <input type="number" id="remaining-days" min="1" max="5">

    <input type="submit" id="form-submit" value="Save task">
</form>